@import url("./style.css");
#main-nav{
    width: 735px;
}
#main-nav > :nth-child(2) ul li{
    margin-left: 20px;
}
#main-nav > :nth-child(2){
    width: 578px;
}
.container{
    max-width: 735px;
}
  /* 
  ==================
  Footer Bottom
  ==================
*/
#main-footer > :nth-child(1) ul li{
    margin-right: 19px;
    margin-left: 1px;
}